*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'IRANSans_Medium';
    src:
    url('../font/IRANSans_Medium.ttf') format('truetype');
    font-style:normal;

}
@font-face {
    font-family: 'IRANSans_Light';
    src:
    url('../font/IRANSans_Light.ttf') format('truetype');
    font-style:normal;

}
.clear{


}
.pos-rel{
    position: relative;
}
.pad-0{
    padding: 0!important;
}
.mrg-0{
    margin: 0!important;
 }
.mrgr-0{
    margin-right: 0!important;
}
/*--------------------------- */
.agahi-btn{
    background-color: #c00c1a;
    color: white;
    font-family: IRANSans_Medium;
}
.agahi-btn:hover{
    color: white!important;
}
.ersal-btn{
    background-color: #c00c1a;
    color: white;
    font-family: IRANSans_Medium;
    margin-top: 8px;
}
.ersal-btn:hover{
    color: white!important;
}
/*--------------------------- top-menu */
.header{
    width: 100%;
    height: 70px;
    position: relative;
}
.fix-header{
    position: fixed;
    height: auto;
    width: 100%;

}
.main{
    width: 100%;
    height: auto;
}
.top-menu a{
    padding: 22px 15px;
    color: #000!important;
    text-decoration: none;
    font-family: IRANSans_Medium;
    float: left;
    opacity: 0.8;
}
.top-menu a:hover{
    opacity: 0.6!important;

}
.white{
    background-color: white!important;
}
/*--------------------------- */
.logo-div{
    height: 100%;
    width: 80px;
}
.logo{
    width: 50px;
    height: 50px;
    background-image: url("../img/divar.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: auto;
    margin-right: 20px;
    margin-left: 20px;

}
/*-------------------------------*/
.city button{
    margin-right: 40px;
    margin-bottom: 10px;
    font-family: IRANSans_Light;
}
.modal-titr{
    font-family: IRANSans_Medium;
    direction: rtl;
}
.search-div{
    padding: 0!important;
    position: relative;
    width: 100%;
    margin-top: 20px;

}
.search{
    padding: .67857143em 1em;
    font-family: IRANSans_Light;
    direction: rtl;
    float: right;
    background-color: #fff;
    border-color: rgba(0,0,0,.3);
    box-shadow: none;
    color: rgba(0,0,0,.87);
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 3px;
    width: 100%;

}
.search:focus{
    background-color: #fafafa;
}
.cities{

    font-family: IRANSans_Medium;
    border: 1px solid #c00c1a!important;
    width: 140px;
    height: 40px;
    float: left;
    margin-right: 22px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}

.cities:hover{
    background-color: #c00c1a;
}

.links div a{
    color: #c00c1a;
    text-decoration: none;
}
.links div:hover a{
    color: white;
    background-color: #c00c1a;
}
.modal-body{
    padding: 0 15px!important;
}
.last-link{
    margin-left: 160px;
}
.btn-search{
    padding: 8px 15px 8px 55px;
    background: transparent none!important;
    box-shadow: inset 0 0 0 1px rgba(34,36,38,.15);
    position: relative;
    margin-top: 10px;

}
.btn-search i{
    display: inline-block;
    padding: 11px 12px;
    background-color: rgba(0,0,0,.05);
    position: absolute;
    left: 0;
    top: 0;

}
.btn-search span{
     opacity: 0.6;

 }

/*------------------------ right-menu -------------------- */
.right-menu-div{
    position: relative;
    width: 100%;
    height: 100%;

}
.right-menu-div-child{
    position: fixed;

}
.right-menu-div a{
    display: block;
    text-align: right;
    color: rgba(0,0,0,.87);
    font-family: IRANSans_Medium;
    padding: 12px 20px 12px 90px;
    text-decoration: none;
    border-bottom: 1px solid gainsboro;
}
.right-menu:hover{
    background: rgba(0,0,0,.05);
}
.right-menu-div .active{
    background: rgba(0,0,0,.05);
}
.clearp{
    margin-top: 5px;
}
.download-bazzar{
    width: 138px;
    height: 44px;
    background-image: url("../img/bazaar.png");
    background-repeat: repeat;
    background-position: 50%;
    background-size: 138px 44px;
    border-radius: 3px;
    margin:  20px auto;
    text-decoration: none;
    display: block;
}
.download-appstore{
    width: 138px;
    height: 44px;
    background-image: url("../img/appstore.png");
    background-repeat: repeat;
    background-position: 50%;
    background-size: 138px 44px;
    border-radius: 3px;
    margin:  20px auto;
    text-decoration: none;
    display: block;

}
/*-------------------------------------------- */
.all-search{
    height: 40px;
    text-align: right;
    font-family:IRANSans_Light;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 3px;
    width: 100%;
    color: #5e5e5e;
    margin-top: 15px;

}
.all-search::placeholder{
    color: silver;
}
.under-header-div{
    background-color: #fcfcfc;
    border: 1px solid #eceeef;
    padding: 0;
}
select{
    height: 40px;
    text-align: right;
    font-family:IRANSans_Light;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 3px;
    width: 100%;
    color: black;
    direction: rtl;
    margin-top: 15px;
    margin-bottom: 50px;
}
option{
    color: black;
    text-align: right;
    border: 1px solid rgba(34,36,38,.15);
    outline: none;
}

.dokmeh-jostejo{
    width: 100%;
    height: 35px;
    background-color: #c00c1a;
    color: white;
    border-radius: 3px;
    font-family: IRANSans_Medium;
    text-align: center;
    margin:auto 0px 20px 0px;

}

.dokmeh-jostejo a{
    color: white;
    line-height: 35px;
    text-decoration: none;


}





/*-------------------------------- Beauty CheckBox ------------------------------------ */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 27px;
    float:right;

}

/* Hide default HTML checkbox */
.switch input {
    display:none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 3px;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 2.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 2px;
}
input.danger:checked + .slider {
    background-color: #f44336;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.checkbox-div span{
   float: right;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    font-family: IRANSans_Light;

}
/*---------------End Beauty CheckBox ------------ */

.img-div{
    width: 100%;
    height: 100%;

}
.price-div{
    height: 10%;
    width: 100%;
    border-top: 1px solid gainsboro;
}
.price{
    font-family: IRANSans_Light;
}
.title{
    display: block;
    position: absolute;
    top:5px;
    font-family: IRANSans_Medium;
    right: 2px;
    direction: rtl;
}
.mahale{
    display: block;
    position: absolute;
    top:115px;
    right: 5px;
    font-family: IRANSans_Light;
}
.info-div{
    height: 90%;

}
.time{
    top:135px;
    position: absolute;
    display: block;
    right: 5px;
    color: black;
    opacity: 0.6;
    font-family: IRANSans_Light;
    font-size: 12px;
}
.three-box{
    margin-left: 2%;
    width: 95%;
    height: 95%;


}
/*----------------- info --------------------- */
.info-boxes{
    height: 184px;

}
.border-info{
    border: 1px solid gainsboro;
}
.menu-center{
    height: 38px;
    margin-top: 18px;
}
.center-menu-p{
    width: 100%;
    background-color:white;
    border: 1px solid rgba(34,36,38,.15);
    height: 100%;
    position: relative;
    font-family: IRANSans_Medium;
    direction: rtl;
    background-color: white;
    cursor: pointer;
}
.center-menu-ch1{
    width: 100%;
    height: auto;
    position: absolute;
    top: 37px;
    border: 1px solid rgba(34,36,38,.15);
    z-index: 1;
    display: none;
    background-color: white;
}
.zirmenu {
    padding-right:30px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: white;
    display: block;
    cursor: pointer;
    color:gray;
}
.zirmenu:hover{
    background: rgba(0,0,0,.05)!important;
    color:black;

}
.center-menu-ch2{
    height: auto;
    width: 100%;
}
.hame-agahiha{
    width: 100%;
    height: 100%;
    line-height: 38px;
    padding-right: 5px;
}

.amlak{
    display: none;
}
.electronic{
    display: none;
}
.khaneh{
    display: none;
}
.khadamat{
    display: none;
}
.vasayele-shakhsi{
    display: none;
}
.vasayele-naghliyeh{
    display: none;
}
.sargarmi{
    display: none;
}
.ejtemaei{
    display: none;
}
.kar{
    display: none;
}
.estekhdam{
    display: none;
}

.center-menu-p span{
    line-height: 40px;
    font-size: 10px;
    margin-left: 5px;
}
.hame-agahiha-2{
    padding-right:15px!important;
}
